.settingsPage{
  color: #dfd7af;
  min-height: calc(100vh - 240px);
}

.settingsList{
  list-style-type: none;
}

.settingsListItem > div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settingsListItem > h2{
  color: rgb(68, 68, 68);
}

.variantsList{
  display: flex;
  gap: 30px;
}

.variantsList  > button{
  width: 150px;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: #2b2b2b;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: none;
}

.variantsList > button:hover{
  background-color: white;
  color: #2b2b2b;
  cursor: pointer;
}

.languageList{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(6,1fr);
  grid-gap: 20px 30px;
}

.languageList  > button{
  border-radius: 20px;
  padding: 10px 20px;
  background-color: #2b2b2b;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: none;
}

.languageList > button:hover{
  background-color: white;
  color: #2b2b2b;
  cursor: pointer;
}

button.activeVar{
  background-color: #dfd7af;
  color: rgb(14, 8, 28);
}