.wrapper {
  width: 1200px;
  height: 1000px;
  position: relative;
  margin: 0 auto;
  top: -700px;
  z-index: 2;
}

.winTable {
  width: 100%;
  height: 83%;
  background-color: #444;
  border-radius: 20px;
  
}

.wrapper_not_active {
  display: none;
}

.statistics {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title {
  padding-top: 50px;
  font-size: 45px;
  color: #dfd7af;
  display: block;
  text-align: center;
}

.text {
  font-size: 25px;
  color: #e3e3e3;
  padding-bottom: 40px;
  text-align: center;
}

.item {
  font-size: 25px;
  color: #e3e3e3;
  padding: 35px 10px;
}

.phrase {
  color: #dfd7af;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 580px;
  background-color: #363434c2;
  border-radius: 20px;
  height: 200px;
}

.btn {
  width: 200px;
  height: 60px;
  display: block;
  margin: 20px auto;
  border-radius: 10px;
  background-color: #dfd7af;
  border: 1px solid #dfd7af;
  color: #363434c2;
  font-size: 25px;
  font-weight: 500;
}

