.container {
  width: 700px;
  height: 40px;
  background-color: #444;
  margin: 60px auto;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #dfd7af;
}
